@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.nagevacao-bg {
  background-color: var(--cor-12);
}

.navegacao {
  max-width: 1200px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  flex-wrap: wrap;
  gap: 20px;
}

.navegacao-menu {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.navegacao-menu a {
  font-size: 1.125rem;
  color: var(--cor-0);
  padding: 16px 0;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  position: relative;
}

.navegacao-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background: var(--cor-p1);
  margin-top: 4px;
  position: absolute;
}

.navegacao-menu a:hover:after {
  width: 100%;
  transition: width 0.3s;
}

@media (max-width: 800px) {
  .navegacao-menu {
    gap: 16px;
  }

  .navegacao-menu a {
    background-color: var(--cor-11);
    padding: 12px 16px;
    border-radius: 5px;
    border-bottom: none;
  }

  .navegacao-menu a:after {
    display: none;
  }

  .navegacao-menu a:hover {
    border-bottom: none;
    background-color: var(--cor-10);
  }
}

@media (max-width: 600px) {
  .navegacao-menu {
    font-size: 1rem;
    gap: 12px;
  }

  .navegacao-menu a {
    padding: 8px 12px;
    border-bottom: none;
  }

  .navegacao-menu a:after {
    display: none;
  }

  .navegacao-menu a:hover {
    background-color: var(--cor-10);
    border-bottom: none;
  }
}

.intro-bg {
  background-color: var(--cor-12);
  position: relative;
}

.intro {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  align-items: center;
  gap: 0 20px;
}

.intro h1 {
  font-size: 4rem;
  color: var(--cor-0);
  margin-bottom: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.12;
}

.intro p {
  font-size: 1.5rem;
  color: var(--cor-5);
  max-width: 40ch;
  line-height: 1.5;
}

.intro img {
  z-index: 1;
  object-fit: cover;
}

.intro-botao {
  text-transform: uppercase;
  padding: 16px 32px;
  background: linear-gradient(#ffbf01, #f2a50c);
  border-radius: 4px;
  display: inline-block;
  font-weight: 600;
  color: var(--cor-p5);
  font-size: 1.125rem;
  margin-bottom: 90px;
  margin-top: 24px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-family: Poppins, "sans-serif";
}

.intro-botao:hover {
  background: linear-gradient(#f2a50c, #a66f00);
}

.intro-bg:after {
  content: "";
  width: 100%;
  height: 90px;
  background: var(--cor-0);
  position: absolute;
  margin-top: -90px;
}

@media (max-width: 1200px) {
  .intro {
    margin: 0 20px;
  }

  .intro h1 {
    font-size: 2.8rem;
    max-width: 15ch;
  }

  .intro p {
    font-size: 1.2rem;
    max-width: 30ch;
  }
}

@media (max-width: 800px) {
  .intro {
    grid-template-columns: 1fr;
  }

  .intro h1 {
    max-width: none;
  }

  .intro p {
    max-width: none;
  }

  .intro img {
    width: 100%;
    height: 100%;
  }
}

.bicicletas {
  margin: 0 auto;
  max-width: 1400px;
}

.bicicletas-titulo h1 {
  color: var(--cor-11);
  font-size: 4rem;
  margin: 48px 0 40px 120px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.bicicletas-lista {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin-bottom: 40px;
}

.bicicletas-lista-info {
  display: grid;
  grid-template-rows: auto auto;
}

.bicicletas-lista-info h2 {
  margin: 8px 0 4px 36px;
  font-size: 1.8rem;
  font-family: Poppins, "sans-serif";
  font-weight: 600;
}

.bicicletas-lista-info h2::before {
  content: "";
  width: 4%;
  height: 8px;
  background-color: var(--cor-p1);
  display: inline-block;
  margin: 0 8px 4px -36px;
}

.bicicletas-lista-info h2:hover:before {
  content: "";
  width: 8%;
  height: 8px;
  transition: width 0.3s;
}

.bicicletas-lista-info p {
  margin-left: 24px;
  font-size: 1.12rem;
  font-weight: 500;
  color: var(--cor-8);
}
