@import "./global/global.css";
@import "./global/header.css";
@import "./global/footer.css";

@import "./utilities/components.css";

@import "./home/intro.css";
@import "./home/list-bikes.css";
@import "./home/tech-bike.css";
