.rodape-bg {
  background-color: var(--cor-12);
  padding: 20px;
}

.rodape {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  gap: 40px;
  margin-top: 40px;
  color: var(--cor-5);
}

.contato h1,
.informacoes h1 {
  text-transform: uppercase;
  color: var(--cor-0);
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1.3;
  padding-bottom: 28px;
}

.contato li,
.informacoes li {
  padding-bottom: 16px;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.informacoes a {
  color: var(--cor-5);
}

.informacoes a:hover {
  color: var(--cor-0);
}

.contato li:nth-child(2),
.contato li:nth-child(4) {
  border-bottom: 2px solid var(--cor-11);
  width: 350px;
  margin-bottom: 16px;
}

.contato img {
  display: inline-block;
  padding: 10px;
}

.rodape span {
  padding: 40px 0;
  grid-column: 1 / -1;
  font-size: 1.1rem;
  font-weight: 500;
}

@media (max-width: 1000px) {
  .contato h1,
  .informacoes h1 {
    font-size: 1.2rem;
  }

  .contato li:nth-child(2),
  .contato li:nth-child(4) {
    width: 250px;
  }

  .rodape span {
    padding: 10px 0;
  }
}

@media (max-width: 800px) {
  .rodape img {
    display: none;
  }

  .rodape {
    grid-template-columns: 2fr 2fr;
  }

  .contato {
    grid-column: 1;
  }
}

@media (max-width: 550px) {
  .rodape {
    grid-template-columns: 1fr;
  }

  .contato li:nth-child(2),
  .contato li:nth-child(4) {
    width: 350px;
  }
}
