.botao {
  text-transform: uppercase;
  padding: 16px 32px;
  background: linear-gradient(#ffbf01, #f2a50c);
  border-radius: 4px;
  display: inline-block;
  font-weight: 600;
  color: var(--cor-p5);
  font-size: 1.125rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
}

.botao:hover {
  background: linear-gradient(#f2a50c, #a66f00);
}

@media (max-width: 800px) {
  .intro a {
    font-size: 1rem;
  }

  .botao {
    margin-bottom: 20px;
    padding: 12px 16px;
  }
}
