@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap");

.depoimento {
  background-color: var(--cor-p1);
}

.depoimento-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  gap: 80px;
  margin-right: 40px;
  background: url(../../img/dec/bottom-right-p.svg) no-repeat bottom 40px right
    40px;
}

.depoimento-img {
  height: 100%;
  width: 100%;
}

.depoimento-img img {
  object-fit: cover;
  border-radius: 0px;
}

.depoimento-texto {
  display: flex;
  flex-direction: column;
}

.depoimento-texto p {
  font-family: "Merriweather", serif;
  font-style: italic;
  font-size: 2.1rem;
  color: var(--cor-p5);
  max-width: 33ch;
  margin-bottom: 20px;
}

.depoimento-texto > span {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.12rem;
  color: var(--cor-p5);
  text-align: end;
  padding-bottom: 80px;
  padding-right: 40px;
}

.depoimento-texto p::before {
  content: "“";
  font-size: 5rem;
  line-height: 0.8;
  color: var(--cor-p2);
  margin-left: -45px;
  margin-right: 4px;
  top: 25px;
  position: relative;
}

.depoimento-texto p::after {
  content: "”";
  font-size: 5rem;
  line-height: 0;
  top: 50px;
  color: var(--cor-p2);
  position: relative;
}

@media (max-width: 1100px) {
  .depoimento-container {
    background: none;
    gap: 60px;
    margin-right: 20px;
  }

  .depoimento-texto p {
    font-size: 1.5rem;
    max-width: 30ch;
  }

  .depoimento-texto > span {
    padding-bottom: 30px;
  }

  .depoimento-texto p::before {
    margin-left: 0px;
    font-size: 3rem;
    top: 15px;
  }

  .depoimento-texto p::after {
    font-size: 3rem;
    top: 30px;
  }
}

@media (max-width: 800px) {
  .depoimento-container {
    gap: 40px;
    grid-template-columns: 1fr;
    text-align: center;
    margin-right: 0px;
  }

  .depoimento-texto p {
    font-size: 1.5rem;
    max-width: none;
    padding: 0px 6px;
  }

  .depoimento-texto p::before {
    margin-left: 0px;
    font-size: 2.5rem;
    top: 10px;
  }

  .depoimento-texto p::after {
    font-size: 2.5rem;
    top: 25px;
  }

  .depoimento-texto > span {
    padding-bottom: 40px;
    font-size: 1rem;
    text-align: center;
    padding-right: 0px;
  }

  .depoimento-img img {
    height: 200px;
    width: 100%;
  }
}
