.intro-bg {
  background-color: var(--cor-12);
  box-shadow: inset 0 -120px var(--cor-0);
}

.intro {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  align-items: center;
  gap: 0 20px;
  padding: 20px;
}

.intro h1 {
  font-size: 4rem;
  color: var(--cor-0);
  margin-bottom: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.12;
}

.intro p {
  font-size: 1.5rem;
  color: var(--cor-5);
  max-width: 40ch;
  line-height: 1.5;
  margin-bottom: 24px;
}

.intro img {
  object-fit: cover;
  height: 100%;
}

@media (max-width: 1200px) {
  .intro h1 {
    font-size: 2.8rem;
  }

  .intro p {
    font-size: 1.2rem;
  }

  .intro-bg {
    box-shadow: inset 0 -80px var(--cor-0);
  }
}

@media (max-width: 900px) {
  .intro {
    align-items: start;
  }
}

@media (max-width: 800px) {
  .intro-bg {
    box-shadow: inset 0 -40px var(--cor-0);
  }

  .intro {
    grid-template-columns: 1fr;
  }

  .intro p {
    max-width: none;
  }

  .intro img {
    width: 100%;
    height: 300px;
  }
}
