.bicicletas {
  padding: 20px;
}

.bicicletas-titulo h1 {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  color: var(--cor-11);
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 28px;
}

.bicicletas-lista {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px;
  overflow-x: auto;
  margin-bottom: 110px;
}

.bicicletas-lista li {
  min-width: 280px;
}

.bicicletas-lista img {
  object-fit: cover;
  height: 100%;
}

.bicicletas-lista a {
  display: block;
}

.bicicletas-lista h2 {
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.bicicletas-lista h2::before {
  content: "";
  width: 3%;
  height: 8px;
  background-color: var(--cor-p1);
  display: inline-block;
  margin-right: 4px;
}

.bicicletas-lista a:hover h2::before {
  content: "";
  width: 8%;
  height: 8px;
  transition: width 0.3s;
}

.bicicletas-lista p {
  margin-left: 16px;
  font-size: 1.12rem;
  font-weight: 500;
  color: var(--cor-8);
  padding-bottom: 8px;
}

@media (max-width: 1200px) {
  .bicicletas-lista {
    margin-bottom: 80px;
  }

  .bicicletas-titulo h1 {
    font-size: 2.8rem;
  }
}

@media (max-width: 800px) {
  .bicicletas-lista {
    gap: 20px;
    margin-bottom: 40px;
  }

  .bicicletas-lista img {
    width: 100%;
    height: 300px;
  }

  .bicicletas-lista h2 {
    font-size: 1.21rem;
  }

  .bicicletas-lista p {
    font-size: 1rem;
    margin-left: 11px;
  }
}
